ul.search-results,
ul.bookshelf {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 0;
}

label.bookshelf-label {
    font-size: 2rem;
    font-style: italic;
    background-color: rgba(0,0,0,0.1);
    text-align: center;
    width: 100%;
}