li.book {
    margin: 16px;
    text-align: center;
    border: 2px solid black;
    width: 17.5%;
    background-color: rgba(240,240,240,0.4);
    flex-grow: 1;
    position: relative;
    transition: all 0.2s ease;
}

li.book:hover {
    transform: scale(1.01);
    box-shadow: 0 15px 15px 0 rgba(0,0,0,0.1);
    background-color: rgba(240,240,240,0.25);
}

li.book img {
    margin-top: 16px;
}

li.book p.book-authors {
    padding: 1rem;
    margin-bottom: 36px;
}

li.book select {
    display: block;
    margin-bottom: 16px;
    width: 150px;
    bottom: 0;
    right: 1rem;
    position: absolute;
    padding: 8px;
}

li.book select.hidden {
    display: none;
}
